__pycache__/

config.ini

# 虚拟环境
.venv

# 下载目录
/download

# VLC
VLC

# 配置文件
video*.json
bangumi*.json
live.json
download*.json
ffmpeg.exe
build.ps1
test*.py
bilidanmu.proto
config.json
cheese*.json
choices.json
node.json
episode.json
temp.json
exclimbwuzhi*.json
/.config

# commitizen
cz.json
cz.toml

# IDE
.vscode

# uv
uv.toml

.DS_Store
example.md

# log
error_log.txt