div {
    display: block;
}
.top_line{
    border-top: 1px solid #e7e7e7;
}
.info {
    padding: 16px 0;
    font-family: Arial, Helvetica, sans-serif;
}
.info .cover {
    position: relative;
    float: left;
    width: 280px;
    height: 180px;
    z-index: 2;
    border-radius: 2px;
    overflow: hidden;
    background-color: #f4f5f7;
}
.info .cover img {
    display: block;
    width: 100%;
    height: 100%;
}
.info .right {
    position: relative;
    padding-left: 5%;
    height: 100%;
    z-index: 1;
}
.info .right a{
    text-decoration: none;
}
.info .right .title{
    display: block;
    height: 20px;
    line-height: 20px;
    font-size: 18px;
    color: #212121;
    font-weight: 500;
    margin-top: 4px;
    margin-bottom: 16px;
    padding-right: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.info .right .count{
    height: 16px;
    line-height: 16px;
    font-size: 14px;
    color: #999;
    margin-bottom: 8px;
    font-family: Arial, Helvetica, sans-serif;
}
.info .right .desc{
    position: relative;
    display: block;
    font-size: 14px;
    color: #212121;
    min-height: 18px;
    line-height: 18px;
    padding-top: 2%;
    padding-bottom: 10%;
    word-wrap: break-word;
    word-break: break-all;
    white-space: normal;
}
.info .right .desc span.absolute{
    position: relative;
    vertical-align: top;
    line-height: 18px;
    z-index: 2;
    white-space: pre-line;
}
.review {
    padding: 16px 0;
    border-top: 1px solid #e5e9ef;
    z-index: -1;
}